:root {
  --txt-color: #212121;
  --ndtxt-color: #757575;
  --hover-color: #2196f3;
  --second-txt-color: #ffffff;
  --bg-color: #2f303a;
  --secondbg-color: #f5f5f5;
  --thirdbg-color: #f5f4fa;
  --logo-header-color: #000000;
  --header-bg-line: #ececec;
  --email-color: rgba(255, 255, 255, 0.6);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --button-shadow-color: rgba(0, 0, 0, 0.15);
  --border-color: #eeeeee;
}

/* main tags */
.list {
  list-style: none;
}

body {
  background-color: var(--second-txt-color);
  color: var(--txt-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration-line: none;
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* HEADER */
.site-header {
  border-bottom: 1px solid var(--header-bg-line);
  padding: 25px 0px 24px;
}
.container-header {
  display: flex;
  align-items: center;
}

.logo-link {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 0px;
}

.logo {
  color: var(--hover-color);
}
.logo-header {
  color: var(--logo-header-color);
}
.logo-footer {
  color: var(--second-txt-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--hover-color);
}

.site-nav {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.site-nav-link {
  display: block;
  color: var(--txt-color);

  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav-link.current {
  color: var(--hover-color);
  text-decoration: underline;
}

.contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}
.contact-link {
  color: var(--ndtxt-color);

  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
}

/* hero */
.hero-title {
  color: var(--second-txt-color);
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px var(--shadow-color), 0px 4px 4px var(--shadow-color);
  margin: 0 auto 30px;
}

.section-title {
  color: var(--txt-color);
}

.hero {
  background-color: var(--bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.order-button {
  color: var(--second-txt-color);
  background-color: var(--hover-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px var(--button-shadow-color);
}

.order-button,
.filter .filter-button {
  cursor: pointer;
}
/* Детали работы*/

.detail {
  color: var(--txt-color);
}

.detail-container > ul {
  display: flex;
}

.detail-list {
  display: block;
}

.detail-list:not(:last-child) {
  margin-right: 30px;
}
.detail-title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.detail-text {
  color: var(--ndtxt-color);

  font-size: 14px;
  line-height: 1.7;
}

/* Чем мы занимаемся */

.action {
  padding-top: 0px;
}

.action-title {
  color: var(--txt-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.action-container > ul {
  display: flex;
}

.action-list:not(:last-child) {
  margin-right: 30px;
}

/* Our team  */
.team {
  background-color: var(--thirdbg-color);
}

.team-container {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-container > ul {
  display: flex;
  align-items: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;

  margin-bottom: 50px;
}

.team-list {
  background-color: var(--second-txt-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list:not(:last-child) {
  margin-right: 30px;
}

.team-img {
  margin-bottom: 30px;
}

.team-name {
  font-weight: 500;

  margin-bottom: 10px;
}

.team-profession {
  color: var(--ndtxt-color);

  padding-bottom: 30px;
}

/* Footer  */

.site-footer {
  background-color: var(--bg-color);

  padding-top: 60px;
  padding-bottom: 60px;
}
.site-footer a {
  display: inline-block;
}

.company {
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
}

.company .company-hvr:hover,
.company .company-hvr:focus {
  color: var(--hover-color);
}

.company-address {
  color: var(--second-txt-color);

  text-decoration: none;
}

.company .company-info {
  color: var(--email-color);
}

.company-list:not(:last-child) {
  margin-bottom: 9px;
}

/* Портфолио */

/* Кнопки фильтра */
.portfolio-section {
  /* align-items: center; */
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  background-color: var(--thirdbg-color);
  color: var(--txt-color);

  min-width: 64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--hover-color);
  color: var(--second-txt-color);

  border: none;
  border-radius: 4px;
}
/* Контент фильтра */

.project-list {
  display: block;
  margin-right: 30px;
}

.project-item {
  display: flex;
  flex-wrap: wrap;
}

.project-list:nth-child(3n) {
  margin-right: 0px;
}

.project-list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-item img {
  display: block;
}

.project {
  color: var(--ndtxt-color);
  font-size: 16px;
  line-height: 1.9;
}

.project-description {
  border: 1px solid var(--border-color);
  border-top: 0;
  padding: 20px 24px;
}

.project-title {
  color: var(--txt-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
